!!! 5
html
   head
    title G&AC
    
    link(rel='stylesheet', href='http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap.min.css')
    link(type='text/css', href='http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-responsive.min.css')
    link(type='text/css', rel='stylesheet', href='http://ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/themes/overcast/jquery-ui.css')
    script(src='http://codeorigin.jquery.com/jquery-2.0.3.min.js');    
    script(src="http://code.angularjs.org/1.2.2/angular.js")
    script(src="http://code.angularjs.org/1.2.2/angular-sanitize.js")
    script(src="http://code.angularjs.org/1.2.2/angular-resource.js")
    script(src="http://code.angularjs.org/1.2.2/angular-route.js")
    script(src="/js/lib/jquery-ui-1.10.3.custom.min.js");//pour datepicker
    script(src="/js/lib/spin.min.js")
    script(src="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js")
    script(src="/js/lib/ui-bootstrap-tpls.js")
    script(src="/js/app/appListMariage.js")    
    script(src="/js/controller/navBarCtrl.js")
    script(src="/js/controller/listMariageCtrl.js")              
    
  body
    div.navbar.navbar-inverse.navbar-fixed-top
       div.navbar-inner
         div.container
            button.btn.btn-navbar(type='button', data-toggle='collapse', data-target='.nav-collapse')
               span.icon-bar
               span.icon-bar
               span.icon-bar
            a.brand(href='/') TODO liste de mariage
            div.nav-collapse.collapse
              ul.nav
                 -var menu = {'items': [{'title':'Home', 'route':'home'}]}
                 each menuItem in menu.items
                    if (id == menuItem.title)
                      li.active
                        a(href='/#{menuItem.route}') #{menuItem.title}
                    else            
                      li
                        a(href='/#{menuItem.route}') #{menuItem.title}
            if !user        
               div.btn-toolbar.pull-right
                  a.btn.btn-primary(href='login', type='button') Log in
                  a.btn.btn-primary(href='register', type='button') Register
            else
               a.btn.btn-primary.pull-right(href='logout', type='button') Log out         
      
    block content